<!--
<h1>Genres#edit</h1>
<p>Find me in app/views/genres/edit.html.erb</p>
-->

<h1>Edit Genre Form</h1>

<%= form_for(@genre) do |g| %>
  <label>Name:</label><br>
  <%= g.text_field :name %><br>

  <%= g.submit "Update Genre"%>
<% end %>
