<h1>Genres#edit</h1>
<p>Find me in app/views/genres/edit.html.erb</p>
<h3>Edit Genre Form</h3>

<%= form_for(@genre) do |f| %>
  
  <label>genre_name:</label><br>
  <%= f.text_field :name %><br>
  
  

  <%= f.submit %>
<% end %>