<h1>Genre#new</h1>
<p>Find me in app/views/genre/new.html.erb</p>

<%= form_for(@genre) do |f| %>

<div>
    <%= f.label :name %>
    <%= f.text_field :name %>
</div>

<div>
    <%= f.submit %>
</div>

<% end %>
