<!--
<h1>Artists#new</h1>
<p>Find me in app/views/artists/new.html.erb</p>
-->
<h1>Artist Form</h1>

<%= form_for(@artist) do |a| %>
  <label>Name:</label><br>
  <%= a.text_field :name %><br>

  <label>Bio</label><br>
  <%= a.text_area :bio %><br>

  <%= a.submit "Create Artist"%>
<% end %>
