<h1>Artists#new</h1>
<p>Find me in app/views/artists/new.html.erb</p>
<h3>Artist Form</h3>
 
<%= form_for(@artist) do |f| %>
  <label>artist_name</label><br>
  <%= f.text_field :name %><br>
 
  <label>artist_bio</label><br>
  <%= f.text_field :bio %><br>
 
  <%= f.submit %>
<% end %>