<h1><%= @artist.name %></h1>
<p>
    <%= @artist.bio %>
</p>

<%# <h3>Songs:</h3>

<% @artist.songs.each do |song| %>
    <%# <div>
        <ul>
            <li><%= link_to song_path(song), song.name %>
        <%# </ul>
    </div>
<% end %>
