<h1>Artist</h1>

<p>Artist Name</p>
<%= @artist.name %>
<p>Artist Bio</p>
<%= @artist.bio %>
<p>Artist edit</p>
<ul>
  <% @artist.songs.each do |song| %>
    <li>
      <%= link_to song.name, song %>
    </li>
  <% end %>
</ul>