<% @songs.each do |song| %> 
    <p> My Song <%= song.name %> 
    <%= link_to song.artist.name, artist_path(song.artist_id)%> 
    <%= link_to song.genre.name, genre_path(song.genre_id) %> </p> 
<% end %> 