<h1>All Songs</h1>

<p><%= link_to "Add New Song", new_song_path %></p>
<hr>

<% @songs.each do |s| %>
    <p><%= link_to s.name, song_path(s) %></p>
    <p>Artist: <%= s.artist.name %> &nbsp;&nbsp; || &nbsp;&nbsp; Genre: <%= s.genre.name %></p>
    <br>
<% end %>